.col-1 {
  width: 8.33333%; }

.col-2 {
  width: 16.66667%; }

.col-3 {
  width: 25%; }

.col-4 {
  width: 33.33333%; }

.col-5 {
  width: 41.66667%; }

.col-6 {
  width: 50%; }

.col-7 {
  width: 58.33333%; }

.col-8 {
  width: 66.66667%; }

.col-9 {
  width: 75%; }

.col-10 {
  width: 83.33333%; }

.col-11 {
  width: 91.66667%; }

.col-12 {
  width: 100%; }

.offset-1 {
  margin-left: 8.33333%; }

.offset-2 {
  margin-left: 16.66667%; }

.offset-3 {
  margin-left: 25%; }

.offset-4 {
  margin-left: 33.33333%; }

.offset-5 {
  margin-left: 41.66667%; }

.offset-6 {
  margin-left: 50%; }

.offset-7 {
  margin-left: 58.33333%; }

.offset-8 {
  margin-left: 66.66667%; }

.offset-9 {
  margin-left: 75%; }

.offset-10 {
  margin-left: 83.33333%; }

.offset-11 {
  margin-left: 91.66667%; }

.offset-12 {
  margin-left: 100%; }

.separador-azul {
  border-top: 4px solid #4285f4; }

.separador-azul {
  border-top: 4px solid #4285f4; }

.separador-azul {
  border-top: 4px solid #4285f4; }

.separador-azul {
  border-top: 4px solid #4285f4; }

.separador-azul {
  border-top: 4px solid #4285f4; }

.separador-azul {
  border-top: 4px solid #4285f4; }

.separador-azul {
  border-top: 4px solid #4285f4; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 5%;
  padding: 2%; }

.row:before, .row:after {
  content: "";
  display: table; }
.row:after {
  clear: both; }

[class*="col-"] {
  min-height: 7px;
  padding: 12px;
  float: left; }

[class*="offset-"] {
  min-height: 7px;
  padding: 12px;
  float: left; }

.header {
  margin-top: 5%;
  text-align: center; }
  .header .logo-nav {
    width: 85%; }

.menu {
  text-align: center; }
  .menu li {
    list-style: none;
    font-size: 15px;
    font-family: "Roboto", sans-serif;
    color: #414549;
    line-height: 1.5em;
    padding: 20px;
    display: inline-flex;
    font-weight: 500; }
    .menu li a {
      color: #414549;
      text-decoration: none; }
    .menu li:hover {
      font-family: "Roboto", sans-serif;
      color: #414549;
      line-height: 1.5em;
      padding: 20px;
      border-bottom: 4px solid #dbdcdd;
      color: #5f6368; }

.titulo, .subtitulo, .subtitulo2 {
  font-family: "Roboto", sans-serif;
  color: #424242;
  font-size: 30px; }

.subtitulo {
  padding-top: 25px;
  font-size: 18px; }

.subtitulo2 {
  padding: 2% 0;
  font-size: 24px; }

.parrafo {
  font-family: "Roboto", sans-serif;
  color: #414549;
  line-height: 1.5em;
  padding: 0 0 5% 0; }

.fecha {
  font-family: "Roboto Mono", monospace;
  font-size: 15px;
  color: #5f6368;
  padding: 0 0 1% 0; }

.link {
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  color: #4285f4;
  font-size: 24px;
  text-align: right; }

.tam-img {
  width: 100%; }

.tam-img-mitad {
  width: 50%; }

#episodio1:hover {
  box-shadow: 0 0 10px #5f6368;
  cursor: pointer; }

#newsfeeed .singUp .link {
  font-size: 15px; }
#newsfeeed .singUp {
  background: #e9e9e9;
  border-radius: 5px; }

#newsfeeed-img .separador {
  margin: 0; }

#connect li {
  list-style: none;
  font-size: 15px; }
  #connect li a {
    color: #414549;
    text-decoration: none; }
#connect .parrafo {
  font-size: 12px;
  margin-top: 5%; }
#connect .col-4 {
  padding: 0; }

/*# sourceMappingURL=style.css.map */
