@mixin texto ($padd){
  font-family: $fuente-principal;
  color: $texto-gris;
  line-height: 1.5em;
  padding: ($padd);
}

@mixin titulos (){
  font-family: $fuente-principal;
  color:$titulos-gris;
}

@mixin fechas ($padd){
  font-family: $fuente-fechas;
  font-size: $texto-tamano;
  color:$fecha-grisclaro;
  padding: ($padd);
}

@mixin li  {
  list-style: none;
  font-size:$texto-tamano;
  a{
    color: $texto-gris;
    text-decoration: none;
  }
}
