$fuente-principal: 'Roboto', sans-serif;
$fuente-fechas: 'Roboto Mono', monospace;
$fuente-titulos: 'ProductSans';
$titulos-gris: #424242;
$fecha-grisclaro: #5f6368;
$texto-gris : #414549;
$elemento-azul : #4285f4;
$hover-gris: #dbdcdd;
$titulos-tamano: 30px;
$subtitulos-tamano: 18px;
$texto-tamano: 14px;
