@import "variables";
@import "mixin";
@import "funciones";

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container{
  width: 100%;
  max-width: 1200px;
  margin:0 auto;
  margin-top: 5%;
  padding: 2%;
}
.row{
  &:before{
    content: "";
    display: table;
  }
  &:after{
    @extend .row:before;
    clear: both;
  }
}
[class*= "col-"]{
  min-height: 7px;
  padding: 12px;
  float: left;
}

[class*="offset-"]{
  min-height: 7px;
  padding: 12px;
  float: left;
}

.header{
  margin-top: 5%;
  text-align: center;
  .logo-nav{
    width: 85%;
  }
}

.menu{
  text-align: center;
  li{
    @include li;
    @include texto (20px);
    display: inline-flex;
    font-weight: 500;
    margin-bottom: 5%;
    &:hover{
      @include texto (20px);
      border-bottom: 4px solid $hover-gris;
      color: $fecha-grisclaro;
    }
  }
}

.titulo{
  @include titulos();
  font-size: $titulos-tamano;
}
.subtitulo{
  @extend .titulo;
  padding-top: 25px;
  font-size: $subtitulos-tamano;
}
.subtitulo2{
  @extend .titulo;
  padding: 2% 0;
  font-size: $subtitulos2-tamano;
}
.parrafo{
  @include texto(0 0 5% 0);
}
.fecha{
  @include fechas(0 0 1% 0);
}


.link{
  font-family: $fuente-principal;
  text-decoration: none;
  color: $elemento-azul;
  font-size: $subtitulos2-tamano;
  text-align: right;
}

.tam-img{
  width: 100%;
}

.tam-img-mitad{
  width:50%;
}

#episodio1{
  &:hover {
     box-shadow: 0 0 10px $fecha-grisclaro;
     cursor: pointer;
   }
}

#newsfeeed{
  .singUp .link{
    font-size: $texto-tamano;
  }
  .singUp{
    background: rgb(233, 233, 233);
    border-radius: 5px;
  }
}

#newsfeeed-img{
  .separador{
    margin: 0;
  }
}

#connect{
  li{
    @include li;
  }
  .parrafo{
    font-size: 12px;
    margin-top: 5%;
  }
  .col-4{
    padding: 0;
  }
}
